#welcome{
  border: 3px solid black;
  font-family: 'Times New Roman';
  text-align: center;
}

.vid-container{
  
}
  

.vid-container video{
  max-width: 100%
  height: auto;
  display: block;
}

#welcome:hover{
  color: blue;
}
